<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Admin/IdeaProjects/RestAssuredFramework">
        <classes>


            <class name="com.testing.Tests.Integration.TC_Integration">

            </class>

        </classes>
    </test>
</suite>
